---
import "@fontsource/orienta";
import "@fontsource-variable/signika";
import "@fontsource-variable/work-sans/wght-italic.css";
import "@fontsource/victor-mono";

import { ViewTransitions } from "astro:transitions";
import Footer from "@/components/Footer/Footer.astro";
import Header from "@/components/Header/Header.astro";

export interface Props {
  title: string;
  description: string;
  path: string;
}

const { title, description, path } = Astro.props;
const canonicalUrl = `https://www.dylf.dev${Astro.url.pathname}`;
const pageTitle = `${title} | Dylan Fontaine`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="follow, index" />
    <title>{pageTitle}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Dylan Fontaine" />
    <meta property="og:image" content="https://www.dylf.dev/dylf-summary.png" />
    <meta property="og:url" content={canonicalUrl} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@ShallowClone" />
    <link rel="canonical" href={canonicalUrl} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <ViewTransitions />
  </head>
  <body
    class:list={[
      "bg-custom-purple",
      "text-white",
      "container",
      "mx-auto",
      "bg-gradient-to-t",
      "from-black",
      "via-custom-purple",
      "to-custom-purple",
      "min-h-screen",
      "flex-col",
      "flex",
      "my-0",
      "py-0",
      "selection:text-black",
      "selection:bg-green-300",
    ]}
  >
    <script>
      import reportWebVitals from "@/reportWebVitals";
      import { sendToVercelAnalytics } from "@/vitals";
      reportWebVitals(sendToVercelAnalytics);
    </script>

    <Header currentPath={path} />
    <main class:list={["p-5", "flex-1"]}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
