---
import Footer from '@/components/Footer/Footer.astro';
import Header from '@/components/Header/Header.astro';

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const canonicalUrl = `https://dylf.dev${Astro.url.pathname}`;
const pageTitle = `${title} | Dylan Fontaine`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="follow, index" />
    <title>{pageTitle}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Dylan Fontaine" />
    <meta property="og:image" content="https://dylf.dev/profile.jpeg" />
    <meta property="og:url" content={canonicalUrl} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@ShallowClone" />
    <link rel="canonical" href={canonicalUrl} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Signika:wght@500;600&family=Orienta&family=Work+Sans:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Signika:wght@500;600&family=Orienta&family=Work+Sans:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap"
        rel="stylesheet"
        type="text/css"
      />
    </noscript>
  </head>
  <body
    class:list={[
      'bg-custom-purple',
      'text-white',
      'container',
      'mx-auto',
      'bg-gradient-to-t',
      'from-black',
      'to-custom-purple',
      'min-h-screen',
      'flex-col',
      'flex',
      'my-0',
      'py-0',
      'selection:text-black',
      'selection:bg-green-300',
    ]}
  >
    <Header />
    <main class:list={['p-5', 'flex-1']}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
